{% extends  "main.html" %}
{% block css %}
    <link href="../../static/vendors/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet">
    <link href="../../static/vendors/bootstrap-select/css/bootstrap-select.css" rel="stylesheet">
    <style>
    th,td{
        min-width: 100px;
    }
    .modal-lg {
        width: 1200px!important;
    }

    td span.details-control {
        padding:10px;
        background: url(../../static/images/details_open.png) no-repeat center center;
        cursor: pointer;
    }
    tr.shown td span.details-control {
        padding:10px;
        background: url(../../static/images/details_close.png) no-repeat center center;
    }
    #operate {
        margin-left:467px; 
        border-right: 0;
        border-bottom: 0;
    }
    #operate tbody tr:first-child td {
        border-top: 1px solid #ccc!important; 
    }
    #operate th,#operate td{
        padding:8px;
    }
    </style>
{% endblock %}
{% block manager %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>净值管理&nbsp;&nbsp;<span style="font-size: 16px;color:#8698aa;"></span></h2>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4" style="padding-bottom: 20px;">
                <select class="selectpicker" Standard title="请选择基金">
                   <optgroup label="请选择基金">
                   </optgroup>

                    {% for i in fund_list %}
                         <option value="{{ i.wind_code }}">{{ i.sec_name }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="col-md-1 col-md-offset-7">
                <a class="btn btn-primary " onclick="history.go(-1)">返回</a>
            </div>
            <table id="accTable" class="table table-striped center-all ">
                <thead>
                    <tr>
                        <th></th>
                        <th>净值时间</th>
                        <th>单位净值</th>
                        <th>累计净值</th>
                        <th>增长率</th>
                        <th>操作</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div>

        <div class="modal fade bs-example-modal-lg" id="tableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="tableModalLabel" data-tag></h4>
                    </div>
                    <div class="modal-body" id="table-modal">
                        <table id="Table" class="table table-bordered center-all ">
                            <thead>

                            </thead>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="edit">更新</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="cancle">取消</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" data-tag>增加一个新的净值</h4>
                    </div>
                    <div class="modal-body">
                        <form id="form">
                            <span id="tag"></span>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="nav_date">时间</label>
                                <input type="date" class="form-control" id="nav_date" placeholder="时间" name="time"
                                data-format="yyyy-MM-dd">
                            </div>
                            <div class="form-group">
                                <label class="col-md-３ control-label" for="nav_acc">单位净值</label>
                                <input type="text" class="form-control" id="nav_acc" placeholder="单位净值" name="nav_acc">
                            </div>
                            <div class="form-group">
                                <label class="col-md-３ control-label" for="nav">累计净值</label>
                                <input type="text" class="form-control" id="nav" placeholder="累计净值" name="nav">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="close">关闭</button>
                        <button type="button" class="btn btn-primary" id="save">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="upload" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                    data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    上传文件
                </h4>
            </div>

            <div class="modal-body">
             <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                  <div class="container" >
                      <span class="btn btn-success fileinput-button" id="add">
                          <i class="glyphicon glyphicon-plus"></i>
                          <span>添加上传文件</span>
                          <input id="fileupload" type="file" name="file[]" multiple >
                      </span>
                      <br>
                      <br>
                      <div id="progress" class="progress">
                          <div class="progress-bar progress-bar-success"></div>
                      </div>
                      <div id="files" class="files"></div>

                      <br>
                  </div>
              </div>

          </div>


          <div class="form-group">
           <div class="col-md-3 col-md-offset-1 ">
               <a href="{{ url_for('f_app.home',wind_code=wind_code) }}">
                   <input type="button" class="btn btn-success" value="返回">
               </a>
           </div>
       </div><!-- Modal Footer -->
       <div class="clearfix"></div>
   </div>
</div>
</div>
</div>
</div>
</div>






{% endblock %}

{% block script %}
<script src="../../static/vendors/bootstrap-select/js/bootstrap-select.js"></script>
<script src="../../static/vendors/bootstrap-select/js/i18n/defaults-zh_CN.js"></script>
<script src="../../static/vendors/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="../../static/vendors/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="../../static/vendors/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="../../static/vendors/jquery-file-upload/js/jquery.fileupload-process.js"></script>
<script src="../../static/vendors/jquery-file-upload/js/jquery.fileupload-validate.js"></script>
<script src="../../static/vendors/moment/moment.js"></script>
<script src="../../static/js/bootstrap-datetimepicker.js"></script>
<script src="../../static/js/handlebars-v4.0.10.js"></script>
<script src="../../static/vendors/bootstrapvalidator-0.5.3/dist/js/bootstrapValidator.js"></script>
<script src="../../static/vendors/bootstrapvalidator-0.5.3/dist/js/language/zh_CN.js"></script>
<script src="../../static/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="../../static/js/dataTables.fixedColumns.min.js"></script>
<script id="tpl" type="text/x-handlebars-template">
    {% raw %}
    {{#each func}}
    <button type="button" class="btn btn-{{this.type}}{% endraw %} btn-sm" onclick="{% raw %}{{this.fn}}{% endraw %}">{% raw %}{{this.name}}{% endraw %}</button>
    {% raw %}{{/each}}{% endraw %}
</script>

<script>

        $("#form").bootstrapValidator({            //表单验证
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh',
                framework: 'bootstrap'
            }, fields: {
                time: {
                    validators: {
                        notEmpty: {
                            message: '时间不能为空'
                        }
                    }
                },
                nav_acc: {
                    validators: {
                        notEmpty: {
                            message: '单位净值不能为空'
                        }
                    }
                },
                nav: {
                    validators: {
                        notEmpty: {
                            message: '累计净值不能为空'
                        }
                    }
                }
            }
        });
        function clear() {
            $("#form").data("bootstrapValidator").resetForm();
            $("#myModalLabel").text("新增");
            $("#nav_date").val("").attr("disabled",false);
            $("#nav_acc").val("");
            $("#nav").val("");
            $("#pct").val("");
        }
        function add(windCode) {
            var addJson = {
                "nav_date": $("#nav_date").val(),
                "nav_acc": $("#nav_acc").val(),
                "nav": $("#nav").val(),
                "wind_code":windCode,
            };
            ajax(addJson);
        }


        function edit(nav_date,nav_acc,nav) {
            $("#form").data("bootstrapValidator").resetForm();
            $("#myModalLabel").text("修改");
            $("#nav_date").val(nav_date).attr("disabled",true);
            $("#nav_acc").val(nav_acc);
            $("#nav").val(nav);
            $("#myModal").modal("show");
        }

        
        function ajax(obj) {
            var table = $("#accTable").DataTable();
            $.ajax({
                url:'/f_app/add_acc' ,
                contentType: 'application/json',
                method:"POST",
                dataType:'json',
                data:JSON.stringify({
                    "nav_date": obj.nav_date,
                    "nav_acc": obj.nav_acc,
                    "nav": obj.nav,
                    "wind_code":obj.wind_code,
                    "assembly":true
                }), success: function (data) {
                    if(data.acc == "edit"){
                        table.ajax.reload(null,false);
                        new PNotify({
                            title: '修改成功',
                            text:  '',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        $("#myModal").modal("hide");
                        $("#myModalLabel").text("新增");
                        clear();
                    }else{
                        var batch= data.result.batch;
                        var fund= data.result.fund;
                        var range= data.result.tr_range;
                        var tableDate=[];
                        var fundObj={};
                        var columns=[
                            {"data":null,
                            render:function(obj){
                                if(obj.operate){
                                    return "<span class='details-control'></span>";
                                }else{
                                    return "";
                                }
                            }},
                            {data:null,
                            render:function(obj){
                                if(obj.nav_date||obj.nav_date==0){
                                    return obj.nav_date;
                                }else{
                                    return "";
                                }
                            }},
                            {data:null,
                            render:function(obj){
                                if(obj.nav||obj.nav==0){
                                    return obj.nav;
                                }else{
                                    return "";
                                }
                            }},
                            {data:null,
                            render:function(obj){
                                if(obj.pct||obj.pct==0){
                                    return obj.pct;
                                }else{
                                    return "";
                                }
                            }}
                        ]; 
                        var sendObj = [];
                        $.each(fund,function(index,value){
                            value.pct=Math.round(value.pct*10000)/100;
                            fundObj[value.nav_date]=value;
                        })
                        $.each(batch,function(index,value){
                            columns.push(
                            {data:null,
                            render:function(obj){
                                if($.inArray(3+4*index,obj.last)!=-1){
                                    sendObj.push({
                                        "nav_date": obj["nav_date"+index],
                                        "nav_acc": obj["nav_acc"+index],
                                        "nav": obj["nav"+index],
                                        "wind_code":obj["wind_code"+index]
                                    })
                                    return `<input type="number" index="${index}" value=${obj["nav"+index]} style="width:80px;height:18px;">`;


                                }else{
                                    if(obj.rate){
                                        if(obj["nav"+index]||obj["nav"+index]==0){
                                            return `<div id="rate${index}">${obj["nav"+index]}</div>`;
                                        }else{
                                            return `<div id="rate${index}"></div>`;
                                        }
                                    }else{
                                        if(obj["nav"+index]||obj["nav"+index]==0){
                                            return obj["nav"+index];
                                        }else{
                                            return "";
                                        }
                                    }
                                }
                            }},
                            {data:null,
                            render:function(obj){
                                if(obj["share"+index]||obj["share"+index]==0){
                                    return obj["share"+index];
                                }else{
                                    return "";
                                }
                            }},
                            {data:null,
                            render:function(obj){
                                if(obj["market_cap"+index]||obj["market_cap"+index]==0){
                                    return obj["market_cap"+index];
                                }else{
                                    return "";
                                }
                            }},
                            {data:null,
                            render:function(obj){
                                if(obj["pct"+index]||obj["pct"+index]==0){
                                    return obj["pct"+index];
                                }else{
                                    return "";
                                }
                            }}
                            );
                            $.each(value,function(k,v){
                                fundObj[v.nav_date]=fundObj[v.nav_date]||{}; 
                                fundObj[v.nav_date].nav_date=v.nav_date;
                                fundObj[v.nav_date]["last"]=fundObj[v.nav_date]["last"]||[];                       
                                $.each(v,function(key,val){
                                    if(key=="pct"){
                                        fundObj[v.nav_date][key+index]=Math.round(val*10000)/100;
                                    }else if(key=="tr"){
                                        if(val.length!=0){
                                            fundObj[v.nav_date]["share"+index]=val[val.length-1].total_share;
                                            fundObj[v.nav_date]["market_cap"+index]=Math.round(val[val.length-1].total_share*fundObj[v.nav_date].nav*100)/100;
                                        }
                                    }else{
                                        fundObj[v.nav_date][key+index]=val;
                                    }
                                })
                                if(k==value.length-1){
                                    fundObj[v.nav_date].last.push(3+4*index);
                                }

                            })
                        })
                        var fund=[];
                        $.each(fundObj,function(key,val){
                            fund.push(val);
                        })
                        fund.sort(function(a,b){
                            if(a["nav_date"]>b["nav_date"]){
                                return 1;
                            }else if(a["nav_date"]<b["nav_date"]){
                                return -1;
                            }else{
                                return 0;
                            }
                        });
                        fund[fund.length-1]["operate"]="true";
                        fund[fund.length-2]["rate"]="true";

                        $("#myModal").modal("hide");
                        $("#myModalLabel").text("新增");
                        clear();
                        $("#tableModal").modal("show");
                        $("#table-modal").html(`
                        <table id="Table" class="table table-bordered center-all ">
                            <thead>

                            </thead>
                        </table>`);
                        $("#tableModalLabel").text("净值维护");
                        var len=data.result.batch.length;
                        var fundname=$(".filter-option.pull-left").text();
                        var thead=`<tr><th>操作记录</th><th colspan="3">${fundname}</th>`;
                        var thead2=`<tr><th></th><th>时间</th><th>净值</th><th>变化率(%)</th>`;
                        if(len!==0){
                            for(var i=0;i<len;i++){
                                thead+=`<th colspan="4">${batch[i][0].sec_name}</th>`;
                                thead2+=`<th>净值</th><th>份额</th><th>市值</th><th>变化率(%)</th>`;
                            }
                        }

                        $("#Table thead").html(`${thead}</tr>${thead2}</tr>`);
                        var tableModal=$('#Table').DataTable({
                            "data":fund,
                            "serverSide": false,
                            "paging":false,
                            "searching":false,
                            "ordering":false,
                            "info":false,
                            "scrollX":true,
                            "scrollCollapse": true,
                            "autoWidth":true,
                            "columns": columns,
                            "displayLength": "400",
                            "order": [[1, 'asc']],
                            "fixedColumns":{
                                leftColumns: 4
                            },
                            "language": {
                                "zeroRecords": "没有找到记录"
                            }
                        });    
                        var sendObjIndex=[];
                        $("#tableModal").on("change propertychange input","input",function(){
                            var index=$(this).attr("index");
                            var nav=$(this).val();
                            var id="#rate"+$(this).attr("index");
                            var navPre=$(id).html();
                            var share=$(this).parent().next().html();
                            $(this).css({"color":"#0353f1","fontWeight":800});
                            $(this).parent().next().next().next().html(Math.round((nav/navPre-1)*10000)/100);
                            sendObj[index].nav=$(this).val();
                            if($.inArray(index,sendObjIndex)==-1){
                                sendObjIndex.push(index);
                            }
                        })
                        //default show
                        var tr=$("span.details-control").parent().closest('tr');
                        var row=tableModal.row(tr);
                        row.child( format(range) ).show();
                        tr.addClass('shown');
                        $("#operate").parent().css({"padding":0});
                        // Add event listener for opening and closing details
                        $('#tableModal').on('click', 'span.details-control', function () {
                            var tr = $(this).parent().closest('tr');
                            var row = tableModal.row( tr );
                            if ( row.child.isShown() ) {
                                row.child.hide();
                                tr.removeClass('shown');
                            }
                            else {
                                // Open this row
                                row.child( format(range) ).show();
                                $("#operate").parent().css({"padding":0});
                                tr.addClass('shown');
                            }
                        } );

                        /* Formatting function for row details - modify as you need */
                        function format ( d ) {
                            var len=[];
                            var tHead='';
                            var tBody='';
                            d.forEach(function(val,index){
                                if(val){
                                    len.push(val.length);
                                }else{
                                    len.push(0);
                                }
                                tHead+=`<th>日期</th><th>份额</th><th>金额</th><th>操作</th>`;
                            });
                            var max=Math.max(...len);
                            if(len.length==0){
                                return '没有操作记录';
                            }else{
                                for(var i=0; i<max;i++){
                                    tBody+=`<tr>`;
                                    d.forEach(function(val,index){  
                                        if(val&&val[i]){
                                            tBody+=`<td>${moment(new Date(val[i].confirm_date)).format('YYYY-MM-DD') }</td><td>${val[i].share}</td><td>${val[i].amount}</td><td>${val[i].operating_type}</td>`;
                                        }else{
                                            tBody+=`<td></td><td></td><td></td><td></td>`;
                                        }
                                    })
                                    tBody+=`</tr>`;
                                }
                                return `<table id="operate" class="table-bordered center-all  dataTable"><thead><tr>${tHead}</tr></thead><tbody>${tBody}</tbody></table>`;
                            }
                        }
                        $("#edit").click(function(){
                            if(sendObjIndex.length){
                                $.each(sendObjIndex,function(i,v){         
                                    $.ajax({
                                        url:'/f_app/add_acc' ,
                                        contentType: 'application/json',
                                        method:"POST",
                                        dataType:'json',
                                        data:JSON.stringify({
                                            "nav_date": sendObj[v].nav_date,
                                            "nav_acc": sendObj[v].nav_acc,
                                            "nav": sendObj[v].nav,
                                            "wind_code":sendObj[v].wind_code,
                                            "assembly":true
                                        }), success: function (data) {}
                                    })
                                })
                                new PNotify({
                                    title: '修改成功',
                                    text:  '',
                                    type: 'success',
                                    styling: 'bootstrap3'
                                });
                            }
                            $("#tableModal").modal("hide"); 
                        })

                        table.ajax.reload();
                        new PNotify({
                            title: '添加成功',
                            text:  '',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                    }


                }
            });
        }
        function del(wind_code,nav_date) {
            var table = $("#accTable").DataTable();
            $.ajax({
                url: "/f_app/del_acc",
                data: JSON.stringify({"wind_code":wind_code,
                    "nav_date": nav_date
                }),
                method:"POST",
                contentType: 'application/json',
                dataType:'json',
                success: function (data) {
                    table.ajax.reload(null,false);
                    new PNotify({
                        title: '删除成功',
                        text:  '',
                        type: 'warn',
                        styling: 'bootstrap3'
                    });
                }
            });
        }



        $('.selectpicker').on('change',function (e) {

            var selectItem= $(this).find("option:selected").val();
            var selectItemText= $(this).find("option:selected").text();

            $("h2 span").html("("+selectItemText+")");
            $(function () {
                $('#start_date').datetimepicker();
                var tpl = $("#tpl").html();
                var template = Handlebars.compile(tpl);
                var selectItem= $(this).find("option:selected").val();
                table = $('#accTable').DataTable({
                    ajax: {
                        url: "/f_app/show_acc/"+selectItem
                    },
                    "order": [[1, 'desc']],
                    "serverSide": false,
                    "destroy": true,
                    "columns": [
                    {"data": null},
                    {"data": "nav_date"},
                    {"data": "nav_acc"},
                    {"data": "nav"},
                    {"data":"pct"},
                    {"data": null}
                    ],
                    "columnDefs": [
                    {
                        "searchable": false,
                        "orderable": false,
                        "targets": [0.-1]
                    },
                    {
                        "targets": 5,
                        "render": function (a, b, c, d) {
                            var context =
                            {
                                func: [
                                {"name": "修改", "fn": "edit(\'" + c.nav_date + "\',\'" + c.nav_acc + "\',\'" + c.nav + "\',\'" + c.pct + "\')", "type": "primary"},
                                {"name": "删除", "fn": "del(\'" + selectItem + "\',\'" + c.nav_date + "\')", "type": "danger"}
                                ]
                            };
                            var html = template(context);
                            return html;
                        }
                    }
                    ],
                    "language": {
                        "lengthMenu": "每页 _MENU_ 条记录",
                        "zeroRecords": "没有找到记录",
                        "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
                        "infoEmpty": "无记录",
                        "search": "搜索：",
                        "infoFiltered": "(从 _MAX_ 条记录过滤)",
                        "paginate": {
                            "previous": "上一页",
                            "next": "下一页"
                        }
                    },
                    "dom": "<'row'<'col-xs-2'l><'#mytool.col-xs-4'><'col-xs-6'f>r>" +
                    "t" +
                    "<'row'<'col-xs-6'i><'col-xs-6'p>>",
                    "initComplete": function () {
                        $("#mytool").append('<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span>添加净值</button>');
                        $("#mytool").append('<button type="button" class="btn btn-success btn-sm col-xs-offset-1" data-toggle="modal" data-target="#upload"><span aria-hidden="true" class="glyphicon glyphicon-open"></span>上传净值文件</button>');
                    }
                });
                //添加序号
                //不管是排序，还是分页，还是搜索最后都会重画，这里监听draw事件即可
                table.on('draw.dt',function() {
                    table.column(0, {
                        search: 'applied',
                        order: 'applied'
                    }).nodes().each(function(cell, i) {
                        i = i+1;
                        var page = table.page.info();
                        var pageno = page.page;
                        var length = page.length;
                        var columnIndex = (i+pageno*length);
                        cell.innerHTML = columnIndex;
                    });
                }).draw();

                $("#save").unbind('click').on("click",function (e) {
                    e.stopPropagation();
                    var bv = $('#form').data('bootstrapValidator');
                    bv.validate();
                    if(bv.isValid()){
                        add(selectItem)
                    } else{
                        return false;
                    }
                });
                $("#close").unbind('click').click(function(){
                    clear();
                });
                $(function () {
                    'use strict';
                    // Change this to the location of your server-side upload handler:
                    var url = '/f_app/upload_acc/'+selectItem,
                    uploadButton = $('<button/>')
                    .addClass('btn btn-primary')
                    .prop('disabled', true)
                    .text('Processing...')
                    .on('click', function () {
                        var $this = $(this),
                        data = $this.data();
                        $this
                        .off('click')
                        .text('Abort')
                        .on('click', function () {
                            $this.remove();
                            data.abort();
                        });
                        data.submit().always(function () {
                            $this.remove();
                        });
                    });
                    $('#fileupload').fileupload({
                        url: url,
                        dataType: 'json',
                        autoUpload: false,
                        acceptFileTypes: /(\.|\/)(gif|jpe?g|png|pdf|xlsx|pptx|ppt|xls|doc|docx)$/i,
                        maxFileSize: 99900000,
                        sequentialUploads: true,
                        // Enable image resizing, except for Android and Opera,
                        // which actually support image resizing, but fail to
                        // send Blob objects via XHR requests:
                        disableImageResize: /Android(?!.*Chrome)|Opera/
                        .test(window.navigator.userAgent),
                        previewMaxWidth: 100,
                        previewMaxHeight: 100,
                        previewCrop: true
                    }).on('fileuploadadd', function (e, data) {
                        data.context = $('<div/>').appendTo('#files');
                        $.each(data.files, function (index, file) {
                            var node = $('<p/>')
                            .append($('<span/>').text(file.name));
                            if (!index) {
                                node
                                .append('<br>')
                                .append(uploadButton.clone(true).data(data));
                            }
                            node.appendTo(data.context);
                        });
                    }).on('fileuploadprocessalways', function (e, data) {
                        var index = data.index,
                        file = data.files[index],
                        node = $(data.context.children()[index]);
                        if (file.preview) {
                            node
                            .prepend('<br>')
                            .prepend(file.preview);
                        }
                        if (file.error) {
                            node
                            .append('<br>')
                            .append($('<span class="text-danger"/>').text(file.error));
                        }
                        if (index + 1 === data.files.length) {
                            data.context.find('button')
                            .text('Upload')
                            .prop('disabled', !!data.files.error);
                        }
                    }).on('fileuploadprogressall', function (e, data) {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        $('#progress .progress-bar').css(
                            'width',
                            progress + '%'
                            );
                    }).on('fileuploaddone', function (e, data) {
                        $.each(data.result.files, function (index, file) {

                            if (file.url) {
                                var link = $('<a>')
                                .attr('target', '_blank')
                                .prop('href', file.url);
                                $(data.context.children()[index])
                                .wrap(link);
                            } else if (file.error) {
                                var error = $('<span class="text-danger"/>').text(file.error);
                                $(data.context.children()[index])
                                .append('<br>')
                                .append(error);
                            } else if (file.message){
                                var message = $('<span class="text-success"/>').text(file.message);
                                $(data.context.children()[index])
                                .append('<br>')
                                .append(message);
                            }
                        });
                    }).on('fileuploadfail', function (e, data) {
                        $.each(data.files, function (index) {
                            var error = $('<span class="text-danger"/>').text('文件上传失败');
                            $(data.context.children()[index])
                            .append('<br>')
                            .append(error);
                        });
                    }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');
                });

            });
        });
        $('#myModal').on('show.bs.modal',function () {
            if($('#nav_date').val() == ""){
                var today  = moment().format('YYYY-MM-DD');
                $('#nav_date').val(today);
            }
        });










</script>


{% endblock %}