{% extends "main.html" %}

{% block css %}

{% endblock %}

{% block manager %}
{% endblock %}
{% block content %}
<div >

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>   {{ batch.sec_name_s }}  &nbsp;&nbsp;  {{ batch.wind_code_s }} </h2>
              <ul class="nav navbar-right panel_toolbox">
                     <li><a class="btn btn-success " href="{{ url_for('f_app.edit_batch',wind_code_s=batch.wind_code_s) }}">修改批次</a></li>

                      <li><a class="btn btn-success " href="{{ url_for('f_app.batch') }}">返回</a></li>
                    </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <!-- start project-detail sidebar -->
              <form class="form-horizontal form-label-left fundForm">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >

                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">基金批次ID号
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop">{{ batch.wind_code_s }}</div>
                          </div>
                      </div>
                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">基金批次名称
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop">{{ batch.sec_name_s }}</div>
                          </div>
                      </div>
                       <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">基金代码
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop">{{ batch.wind_code }}</div>
                          </div>
                      </div>
                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">开始时间
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop"> {{ batch.date_start }} </div>
                          </div>
                      </div>

                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">清盘日期
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop">{{ batch.date_stop }}</div>
                          </div>
                      </div>
                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">基金封闭期(月)
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop"> {{ batch.closed_period }}</div>
                          </div>
                      </div>

                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">预警线</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop">{{ batch.warning_line }}</div>
                          </div>
                      </div>
                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">清盘线</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop">{{ batch.winding_line }}</div>
                          </div>
                      </div>
                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">基金开放周期/频率</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop">{{ batch.open_frequency }}</div>
                          </div>
                      </div>
                       <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">初始确认金额</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop"> {{ batch.invest_amount }} </div>
                          </div>
                      </div>
                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">初始确认份额</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop"> {{ batch.share_confirmed }} </div>
                          </div>
                      </div>

                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">赎回门槛 </label>
                          <div class="col-md-9 col-sm-9 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop">{{ batch.redemption_threshold }} </div>
                          </div>
                      </div>
                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">认申购门槛 <span class="required"></span></label>
                          <div class="col-md-9 col-sm-9 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop"> {{ batch.subscribe_threshold }} </div>
                          </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">产品费用 <span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="optional col-md-12 col-xs-12 marginTop">
                                <ul class="col-md-7">
                                    <li>管理费计算基础天数：{{ batch.day_count_4_calc_fee }} </li>
                                    <li>管理费率：{{ (batch.manage_fee_rate*100)  |round(2,'common') if batch.manage_fee_rate is not none  else  ""  }} %</li>
                                    <li>托管费率：{{ (batch.custodian_fee_rate*100)  |round(2,'common') if batch.custodian_fee_rate is not none  else  ""  }} %</li>
                                    <li>行政管理费率：{{ (batch.admin_fee_rate*100)  |round(2,'common') if batch.admin_fee_rate is not none  else  ""  }} %</li>
                                    <li>客户专项资金保管费：{{ (batch.storage_fee_rate*100)  |round(2,'common') if batch.storage_fee_rate is not none  else  ""  }} %</li>
                                    <li>认购/申购费率：{{ (batch.subscribe_fee_rate*100)  |round(2,'common') if batch.subscribe_fee_rate is not none  else  ""  }} %</li>
                                    <li>赎回费率：{{ (batch.redemption_fee_rate*100)  |round(2,'common') if batch.redemption_fee_rate is not none  else  ""  }} %</li>
                                </ul>
                                <ul class="col-md-5">
                                    <li><br></li>
                                    <li>按份额计算 {{ batch.manage_fee_calc_mode }}</li>
                                    <li>按份额计算 {{ batch.custodian_fee_calc_mode }}</li>
                                    <li>按份额计算 {{ batch.admin_fee_calc_mode }}</li>
                                    <li>按市值计算 {{ batch.storage_fee_calc_mode }}</li>
                                </ul>
                            </div>
                        </div>
                      </div>

                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">收益分配（分红方式） </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop"> {{ batch.bonus_mode }} </div>
                          </div>
                      </div>
                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">认申购收费方式</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop"> {{ batch.subscribe_fee_mode }} </div>
                          </div>
                      </div>


                  </div>
                  <div class="clearfix"></div>
                  <div class="x_title"> </div>
                  <div class="x_content">
                        <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">投资范围
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop">{{ batch.investment_scope }}</div>
                          </div>
                      </div>
                       <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">投资限制
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="optional col-md-12 col-xs-12 marginTop">{{ batch.investment_srestrictions }}</div>
                          </div>
                      </div>


                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 ">业绩报酬计提方式
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="optional col-md-12 col-xs-12 marginTop">{{ batch.incentive_mode }}</div>
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 ">业绩报酬计提方法
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="optional col-md-12 col-xs-12 marginTop">{{ batch.incentive_ratio }}</div>
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 ">业绩报酬计提时间
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="optional col-md-12 col-xs-12 marginTop">{{ batch.incentive_period }}</div>
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">补充协议
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="optional col-md-12 col-xs-12 marginTop">{{ batch.other_contract }}</div>
                      </div>
                  </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">备注
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="optional col-md-12 col-xs-12 marginTop">{{ batch.remark }}</div>
                      </div>
                  </div>

                  </div>
              </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
     <script src="../../static/vendors/parsleyjs/dist/parsley.js"></script>

{% endblock  %}