{% extends "main.html" %}



{% block manager %}
{% endblock %}
{% block content %}


<div class="row tile_count">
    <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>大数据投顾池</span>
        <div class="count">1</div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> 归档投顾池</span>
        <div class="count">2</div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> 观察投顾池</span>
        <div class="count green">3</div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> 核心投顾池</span>
        <div class="count">4</div>
    </div>
</div>

    <div class="x_content">
        <table class="table table-bordered center-all" id="invest_tab" width="100%" >
            <thead>
                <tr>
                    <th>日期</th>
                    <th>比例</th>
                    <th>code</th>
                    <th>名称</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

{% endblock %}

{% block script %}
 <script>

   var all_data = {{ all_data| tojson }};

   $(document).ready(function () {
        $('#invest_tab').DataTable({
            "info":false,
            "paging": true,
            "displayLength": 20,
                "language": {
                "lengthMenu": "每页 _MENU_ 条记录",
                "zeroRecords": "没有找到记录",
                "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
                "infoEmpty": "无记录",
                "search": "搜索：",
                "infoFiltered": "(从 _MAX_ 条记录过滤)",
                "processing":"正在处理;....",
                "paginate": {
                    "previous": "上一页",
                    "next": "下一页"
                }
            },
            data:all_data,
            columns: [
                { "data": "date" },
                { "data": "scale" },
                { "data": "code" },
                { "data": "name" }
            ]
    });
   });


 </script>

{% endblock %}