<!DOCTYPE HTML>

{% extends "main.html" %}

{% block css %}
  <link href="../../static/vendors/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet">    
{% endblock %}

{% block manager %}

{% endblock %}

{% block content %}
    <div class="x_title">
      <h2>上传净值</h2>
      <div class="clearfix"></div>
    </div>
    <form id="form" method="POST" action="{{ url_for('f_app.import_nav') }}"  enctype=multipart/form-data>
      <div class="row">
        <div class="col-sm-1 col-sm-offset-3">
          <div class="container">
              <!-- The fileinput-button span is used to style the file input field as button -->
              <span class="btn btn-success fileinput-button" id="add">
                  <i class="glyphicon glyphicon-plus"></i>
                  <span>添加文件</span>
                  <!-- The file input field used as target for the file upload widget -->
                  <input id="fileupload" type="file" name="file" multiple >
              </span>
              <div id="files" class="files"></div>
          </div>
        </div>
        <div class="col-sm-3">
          <input class="form-control filename" value="请选择净值文件">
        </div>
        <div class="col-sm-1">
          <button class="btn btn-primary" type="submit" id="upload">上传</button>
        </div>
      </div>
      <div class="row">
      </div>
    </form>
{% endblock %}

{% block script %}
<script>
$(function(){
  $("#form").on("submit",function(){          //提交
    if($("#fileupload").val()!=""){
      var str=$("#fileupload").val();
      $(".filename").css("color","#73879C");
      if(str.indexOf("xls")<0&&str.indexOf("xlsx")<0){
        $(".filename").css("color","#f00");
        $(".filename").val("请选择格式为.xls或.xlsx的净值文件");
      }
        return true;
    } else{
      $(".filename").css("color","#f00");
        return false;
    }
  })
  $("#fileupload").on("change",function(){
    $(".filename").val($("#fileupload").val());
    if($("#fileupload").val()!=""){
      var str=$("#fileupload").val();
      $(".filename").css("color","#73879C");
      if(str.indexOf("xls")<0&&str.indexOf("xlsx")<0){
        $(".filename").css("color","#f00");
        $(".filename").val("请选择格式为.xls或.xlsx的净值文件");
      }
    } else{
      $(".filename").css("color","#f00");
    }
  })
})
</script>

{% endblock %}
