{% extends "main.html" %}
{% block css %}

{% endblock %}

{% block manager %}
{% endblock %}
{% block content %}

<div class="row">

    <div class="page-title">
        <div class="title_left">

            <h4>市场运行报告</h4>

        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                </div>
            </div>
        </div>
    </div>
</div>


<div id="myTabContent" class="tab-content">
    <div class="row" id="SetDate">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="SelectIndex">预览报告<small style="display: inline">选择报告时间</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                        <div class="form-group">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <label for="from">从</label>
                                <input type="date" class="form-control" placeholder="Default Input" id="from" name="from">
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <label for="to">到</label>
                                <input type="date" class="form-control" placeholder="Default Input" id="to" name="to">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="button" class="btn btn-success" id="button">提交</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script src="../../static/vendors/echarts/dist/echarts.min.js"></script>
<script src="../../static/js/shine.js"></script>

{% endblock %}