{% extends "main.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../../static/vendors/bootstrap-daterangepicker/daterangepicker.css">
{% endblock %}

{% block manager %}
{% endblock %}
{% block content %}

<div class="row">

    <div class="page-title">
        <div class="title_left">
            <h4>市场运行报告</h4>
        </div>
    </div>
</div>


<div id="myTabContent" class="tab-content">
    <div class="row" id="SetDate">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="SelectIndex">预览报告<small style="display: inline">选择报告时间</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                        <div class="form-group">

                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right">
                                <button type="button" class="btn btn-success" id="preview">预览</button>
                                <a target="_blank" href="{{ url_for('f_app.market_report',file_name='') }}" type="button" class="btn btn-success " id="download" disabled download="">下载</a>

                            </div>


                            <div id="reportrange" class=" col-xs-5 col-sm-5 col-md-5 col-lg-5 col-sm-offset-1" style="background: #ffffff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                <span></span> <b class="caret pull-right" style="margin-top:8px;"></b>
                            </div>
                        </div>

                    </form>
                    <div id="ht"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="spinner" style="display:none;height: 400px;">
    </div>
    <div class="tab-pane fade in active ImgDis" id="ImgDis" style="height:0px;">
        <div id="chart1" style="height:500px;padding:40px 10px 10px;"></div>
        <div id="chart2" style="height:500px;padding:40px 10px 10px;"></div>
        <div id="chart3" style="height:500px;padding:40px 10px 10px;"></div>
        <div id="chart4" style="height:500px;padding:40px 10px 10px;"></div>
        <div id="chart5" style="height:500px;padding:40px 10px 10px;"></div>
        <div id="chart6" style="height:500px;padding:40px 10px 10px;"></div>
    </div>
</div>

{% endblock %}


{% block script %}
<script src="../../static/vendors/echarts/dist/echarts.min.js"></script>
<script src="../../static/vendors/moment/moment.js"></script>
<script src="../../static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="../../static/js/loadingoverlay.js"></script>
<script>
 $(document).ready(function () {
    $(function() {
        var start = moment().subtract(29, 'days');
        var end = moment();
        var year = moment().year();
        var month = moment().month();
        var ranges={};
        function range(){
            var index=Math.floor(month/3);
            for(var i=0;i<=index;i++){
                switch(i){
                    case 0:
                    ranges['1季度']=[moment(year+'-01-01'),moment(year+'-03-31')];
                    break;
                    case 1:
                    ranges['2季度']=[moment(year+'-03-01'),moment(year+'-06-30')];
                    break;
                    case 2:
                    ranges['3季度']=[moment(year+'-07-01'),moment(year+'-09-30')];
                    break;
                    case 3:
                    ranges['4季度']=[moment(year+'-10-01'),moment(year+'-12-31')];
                    break;
                }
                
            }   
            ranges['最近半年']=[moment().subtract(6, 'months'), moment()];
            ranges['最近一年']=[moment().subtract(12, 'months'), moment()];

        }
        range();
        //获得季度

        function cb(start, end) {
            $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
        }
        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: ranges
        }, cb);

        cb(start, end);

    });

    var option = {
        title: {
            text: '',
            left: 'center',
            subtext: ''
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            orient: 'vertical',
            top: 150,
            right: 10,
            padding: [0,10,10,0],
            data: ''
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : ''
            }
        ],
        yAxis : [
            {
                type : 'value',
                min: ''
            }
        ],
        series : []
    };


    $('#preview').on('click',function () {
        $("#ImgDis").css('height','0px');
        if($("#table")){
            $("#table_wrapper").remove();
        }
        var startDate = $("#reportrange").data('daterangepicker').startDate.format('YYYY-MM-DD');
        var endDate=  $("#reportrange").data('daterangepicker').endDate.format('YYYY-MM-DD');
        var data = {"start":startDate,"end":endDate};
        $("#spinner").show();
        $("#spinner").LoadingOverlay("show",{
            image: "",
            fontawesome: "fa fa-spinner fa-spin",
            maxSize: "100px",
            minSize: "20px",
         });
        $.ajax({
            url:'/f_app/market_report',
            type:'POST',
            contentType: 'application/json',
            data:JSON.stringify(data),
            dataType:'json',
            success:function (res) {
                if(res.status=='ok'){
                    $('#download').removeAttr("disabled");
                    $('#download').attr('href',$('#download').attr('href')+res.data.file_name);
                    $('#download').attr('download',res.data.file_name);
                    var charts = res.data.charts;
                    var table = res.data.table;
                    var text = res.data.text;
                    var title = [];
                    var legend = [];
                    var date = [];

                    var chart=[];
                    $.each(charts,function (index,value) {
                        title.push(index);
                        chart.push(value)

                    });
                    var tooltip=[];
                    $.each(JSON.parse(chart[0]),function (k,v) {
                        date.push(moment(Number(k)).format('YYYY-MM-DD'));
                        tooltip.push(v);
                    });

                    var seriesArr=[];
                    $.each(tooltip[0],function (k,v) {
                        legend.push(k);
                    });

                    option.legend.data=legend;
                    option.xAxis[0].data=date;

                    for(var i=0;i<chart.length;i++){
                        var tooltip=[];
                        $.each(JSON.parse(chart[i]),function (k,v) {
                            tooltip.push(v);
                        });
                        var id = document.getElementById("chart"+(i+1));
                        initChart(title[i],id);
                        var html='';
                        $.each(text[i],function(k,v){
                            if(k=='index'){
                                html+=v+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
                            }else if(k=='统计截止日期'||k=='统计起始日期'){
                                html+=k+":"+moment(new Date(v)).format('YYYY-MM-DD')+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
                            }else{
                                html+=k+":"+v+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
                            }
                        })
                        if($(".text"+i)){
                            $(".text"+i).remove();
                        }
                        $(id).append('<div class="text'+i+'" style="height:50px;padding:0 100px 20px;text-indent:20px;">'+html+'</div>');
                    }

                    function getSerie(obj,obj2){
                        var series = [];                
                        var seriesObj = {};
                        var minList = [];
                        for(var i=0;i<obj.length;i++){ 
                            var serie={};
                            var val=obj[i];
                            serie["name"]=val;
                            serie["type"]='line';
                            serie["smooth"] = true;
                            for(var j=0;j<obj2.length;j++){ 
                                seriesObj[val]=seriesObj[val]||[];
                                seriesObj[val].push(obj2[j][val]);
                                minList.push(obj2[j][val]);
                            }
                            serie["data"]= seriesObj[val];
                            series.push(serie);
                        } 
                        var minNumber = (Math.min.apply(null,minList)-0.01).toFixed(2); 
                        return [series,minNumber];
                    }

                    function initChart(title,id){
                        var option1={};
                        $.extend(true,option1,option);
                        option1.title.text=title+'业绩表现';
                        var data = getSerie(legend,tooltip);
                        option1.series= data[0];
                        option1.yAxis[0].min= data[1];
                        var chart = echarts.init(id);
                        chart.setOption(option1,true);
                    }


                    // init datatable 
                    if($("#table")){
                        $("#table_wrapper").remove();
                    }
                    $("#myTabContent").append('<table class="table table-bordered" id="table" width="100%"></table>');

                    $("#myTabContent").append('<table class="table table-bordered" id="table" width="100%"></table>');
                    var tableData=[];
                    var columns=[];
                    $.each(JSON.parse(table),function(index,value) {
                        var i=0;
                        var column={};
                        column['title']=index;
                        columns.push(column);
                        $.each(value,function (k,v) {
                            tableData[k]=tableData[k]||[];
                            if(index!=""&&k==0){
                                tableData[k].push(moment(Number(v)).format('YYYY-MM-DD'))
                            }else{
                                tableData[k].push(v)
                            }
                        });
                    });
                    var table1=$('#table').DataTable({
                        "info":false,
                        "paging": false,
                        'data':tableData,
                        "language": {
                            "lengthMenu": "每页 _MENU_ 条记录",
                            "zeroRecords": "没有找到记录",
                            "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
                            "infoEmpty": "无记录",
                            "search": "搜索：",
                            "infoFiltered": "(从 _MAX_ 条记录过滤)",
                            "paginate": {
                                "previous": "上一页",
                                "next": "下一页"
                            }
                        },
                        columns: columns,
                        "order": [[2, 'asc']],
                        "displayLength": 10
                    });
                    $("#spinner").LoadingOverlay("hide");
                    $("#spinner").hide();
                    $("#ImgDis").css('height','3050px');

                }else{
                    $("#spinner").LoadingOverlay("hide");
                    $("#spinner").hide();
                    new PNotify({
                        title: '时间区间太短',
                        text: '请选择至少一个月以上区间',
                        type: 'warning',
                        styling: 'bootstrap3'
                    }); 
                }
            }
        });

    });

 })
</script>
{% endblock %}