{% extends "main.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../../static/vendors/bootstrap-daterangepicker/daterangepicker.css">
{% endblock %}

{% block manager %}
{% endblock %}
{% block content %}

<div class="row">

    <div class="page-title">
        <div class="title_left">
            <h4>市场运行报告</h4>
        </div>
    </div>
</div>


<div id="myTabContent" class="tab-content">
    <div class="row" id="SetDate">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="SelectIndex">预览报告<small style="display: inline">选择报告时间</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                        <div class="form-group">
                            <div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 50%">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                            <span></span> <b class="caret"></b>
                        </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <button type="button" class="btn btn-success" id="preview" style="margin-top:24px;">预览</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script src="../../static/vendors/echarts/dist/echarts.min.js"></script>
    <script src="../../static/vendors/moment/moment.js"></script>
<script src="../../static/js/shine.js"></script>
    <script src="../../static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script>
 $(document).ready(function () {
     $(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

});

     $('#preview').on('click',function () {
         var startDate = $("#reportrange").data('daterangepicker').startDate.format('YYYY-MM-DD');
         var endDate=  $("#reportrange").data('daterangepicker').endDate.format('YYYY-MM-DD');
         data = {"start":startDate,"end":endDate};
         $.ajax({
                        url:'/f_app/market_report',
                            type:'POST',
                            contentType: 'application/json',
                            data:JSON.stringify(data),
                            dataType:'json',
                            success:function (data) {
                                console.log(data)
                            }
                    });

     })
 })
</script>
{% endblock %}