{% extends "main.html" %}

{% block css %}
<style>
    .page-header {
        margin-top: 20px;
    }
    input:focus {
        border-color: #0b97c4!important;
    }
</style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                  
                    <h2>创建一只新的基金</h2>
                 
                
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form id="crud-form" class="form-horizontal form-label-left" method="POST" action="{{ url_for('f_app.new_fund')}}">

                        <h2 class="page-header">基本信息</h2>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">基金代码</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" name="wind_code" class="form-control input-md"  value="{{ new_code }}" readonly >
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">基金名称*</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" name="sec_name" class="form-control input-md"  required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">基金别名</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" name="alias" class="form-control input-md" >
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">存续期(年)</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="number" name="fund_ptmyear" class="form-control input-md"  >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">基金经理</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" name="fund_fundmanager" class="form-control input-md" >
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">基金管理人</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" name="fund_mgrcomp" class="form-control input-md" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">*成立时间</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input name="fund_setupdate" type="date" class="form-control input-md" required=""/>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">终止时间</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input name="fund_maturitydate" type="date" class="form-control input-md"  />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">基金评级</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select class="form-control" name="rank" id="rank">
                                        <option value="0">未评级</option>
                                        <option value="1">不关注</option>
                                        <option value="2">观察</option>
                                        <option value="3">备选</option>
                                        <option value="4">核心池</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">基金维护方式</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select class="form-control" name="nav_maintain_mode" id="nav_maintain_mode">
                                        <option value="0">自动计算</option>
                                        <option value="1">手动维护</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">策略类型</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select class="form-control" name="strategy_type" id="strategy_type">
                                        <option value="股票多头策略">股票多头策略</option>
                                        <option value="股票多空策略">股票多空策略</option>
                                        <option value="事件驱动策略">事件驱动策略</option>
                                        <option value="其他股票策略">其他股票策略</option>
                                        <option value="阿尔法策略">阿尔法策略</option>
                                        <option value="债券策略">债券策略</option>
                                        <option value="货币市场策略">货币市场策略</option>
                                        <option value="管理期货策略">管理期货策略</option>
                                        <option value="套利策略">套利策略</option>
                                        <option value="宏观策略">宏观策略</option>
                                        <option value="组合基金策略">组合基金策略</option>
                                        <option value="现金管理">现金管理</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">基金状态</label>
                                <div class="col-md-8 col-sm-8 col-xs-12" style="margin-top:5px;">
                                    <input type="checkbox" class="flat" name="fund_status"/>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" style="border:0px;">
                            <div class="panel-heading" role="tab" id="headingTwo" style="background: #fff;">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    更多>>
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <h2 class="page-header">规模信息</h2>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">A类份额规模</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="number" name="scale_a" class="form-control input-md" >
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">B类份额规模</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="number" name="scale_b" class="form-control input-md" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">优先级资产规模</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="number" name="priority_asset" class="form-control input-md" >
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">劣后级资产规模</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="number" name="inferior_asset" class="form-control input-md" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">总规模</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="number" name="scale_tot" class="form-control input-md" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="display: none;">
                                        <div class="form-group col-md-3">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">最新净值</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="number" name="nav_acc_latest" class="form-control input-md" value="1">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">最新净值日期</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="date" name="nav_date_latest" class="form-control input-md" value="2001-01-01">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12" style="padding-left:0;">优先级年化收益率</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="number" name="priority_interest_rate" class="form-control input-md" value="0">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">年化收益率</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="number" name="annual_return" class="form-control input-md" value="0">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">最大回撤比</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="number" name="nav_acc_mdd" class="form-control input-md" value="0">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">夏普比</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="number" name="sharpe" class="form-control input-md" value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <h2 class="page-header">其他信息</h2>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">产品负责人</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" name="fh_prod_manager" class="form-control input-md" >
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">渠道负责人</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" name="fh_channel_manager" class="form-control input-md" > 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">投资管理人</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" name="fh_inv_manager" class="form-control input-md" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <br/>
                            <div class="form-group col-md-4">
                            <div class="col-md-3 col-sm-9 col-xs-12 col-md-offset-4" style="padding-left:0px;">
                                <input type="submit" class="btn btn-primary" value="更新" id="submit">
                            </div>

                            </div>
                        </div>

                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12">

        </div>
    </div>

{% endblock %}


{% block script %}

<script src="../../static/vendors/parsleyjs/dist/parsley.js"></script>
<script>
    $(function () {
      $('#crud-form').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
      })
      .on('form:submit', function() {
        return true;
      });
    });
</script>
{% endblock %}