{% extends "main.html" %}
{% block css %}
<link href="../../static/vendors/bootstrap-select/css/bootstrap-select.css" rel="stylesheet">
<link href="../../static/vendors/bootstrapvalidator-0.5.3/dist/css/bootstrapValidator.css" rel="stylesheet" />
<style>
table.dataTable tbody tr.selected {
    background-color: #c4e1ff;
}
table .desc:hover{
    background: rgba(0,0,0,0.8) !important;
    color:#fff;
    position: absolute;
    white-space: pre-line!important;
    padding: 5px!important;
    border-radius: 2px;
    z-index: 9;
}
.dropdown-menu span.glyphicon-ok:before{
    content: "";
}
.dropdown-menu .inner {
  max-height: 200px!important;
}
tbody .my_class {
  background: #d9edf7;
  opacity: 0.8;
  font-weight: 800;
}
</style>
{% endblock %}
{% block manager %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>基金交易管理</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
       <table class="table table-bordered center-all display" id="invest_tab" width="100%" >
        <thead>
          <tr>
            <th style="padding:8px 10px;"><input type="checkbox" name="select_all"></th>
            <th>批次代码</th>
            <th>FOF基金名称</th>
            <th>基金名称</th>
            <th>操作类型</th>
            <th>资金交收日期</th>
            <th>申请日期</th>
            <th>确认日期</th>
            <th>确认基准净值</th> 
            <th>份额</th>
            <th>金额</th>
            <th>事项说明</th>
            <th>当前总份额</th>
            <th>当前持仓总成本</th>
          </tr>
        </thead>
       </table>
      </div>
   </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel" data-tag></h4>
            </div>
            <div class="modal-body"> 
                <form id="form" class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sec_name_s">基金名称</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <select class="selectpicker" Standard title="请选择基金" name="sec_name_s" id="sec_name_s">
                               <optgroup label="请选择基金">
                               </optgroup>

                                {% for i in fof_list %}
                                    <optgroup label="{{ i.primary }}">
                                        <option value="{{ i.primary }}" code="{{ i.primary.wind_code }}">{{ i.primary }}</option>
                                        {% for x in i.child %}
                                            <option value="{{ x.name }}" code={{ x.code }}>{{ x.name }}</option>
                                          {% endfor %}
                                  </optgroup>
                                    {% endfor %}
                            </select>
                        </div>
                    </div>     

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="wind_code_s">批次代码</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" class="form-control col-md-7 col-xs-12" value="" name="wind_code_s" id="wind_code_s" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fof_name">FOF基金名称</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" class="form-control col-md-7 col-xs-12" value="" name="fof_name" id="fof_name" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="operating_type">操作类型</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <select class="form-control" name="operating_type" id="operating_type">
                                <option>申购</option> 
                                <option>赎回</option> 
                                <option>返费</option> 
                                <option>份额强减</option> 
                                <option>份额强增</option> 
                                <option>现金分红</option> 
                                <option>分红再投资</option>
                                <option>提取业绩报酬</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="request_date">申请日期</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="date" class="form-control" id="request_date" value="" name="request_date" data-date-format="YYYY-MM-DD">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="confirm_date">确认日期</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="date" class="form-control" id="confirm_date" value="" name="confirm_date" data-date-format="YYYY-MM-DD" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="accounting_date">资金交收日期</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="date" class="form-control col-md-7 col-xs-12" id="accounting_date" value="" name="accounting_date" data-date-format="YYYY-MM-DD"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="share">确认基准净值</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="number" step="0.0001" class="form-control" id="confirm_benchmark" value="" name="confirm_benchmark">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="share">份额</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="number" step="0.0001" class="form-control" id="share" value="" name="share">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="amount">金额</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="number" step="0.0001" class="form-control" id="amount" value="" name="amount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">事项说明</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <textarea rows=3 class="form-control col-md-7 col-xs-12" id="description" value="" name="description" placeholder="最多只能输入100个字符"></textarea>
                        </div>
                    </div>
                </form>           
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close">关闭</button>
                <button type="button" class="btn btn-primary" id="save">保存</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script src="../../static/vendors/moment/moment.js"></script>
<script src="../../static/vendors/bootstrap-select/js/bootstrap-select.js"></script>
<script src="../../static/vendors/bootstrap-select/js/i18n/defaults-zh_CN.js"></script>
<script src="../../static/vendors/bootstrapvalidator-0.5.3/dist/js/bootstrapValidator.js"></script>
<script src="../../static/vendors/bootstrapvalidator-0.5.3/dist/js/language/zh_CN.js"></script>
<script>
    new PNotify({
        title: '可以点击左侧菜单按钮，最大化显示表格',
        text:  '',
        type: 'success',
        styling: 'bootstrap3',
        stack: {"dir1": "down", "dir2": "right", "firstpos1": 20, "firstpos2": 45},
        delay: 2000
    });
    var rows_selected = [];
    var table=$('#invest_tab').DataTable({
        "info":false,
        "paging": true,
        "displayLength": 25,
        "language": {
            "lengthMenu": "每页 _MENU_ 条记录",
            "zeroRecords": "没有找到记录",
            "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            "infoEmpty": "无记录",
            "search": "搜索：",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "processing":"正在处理;....",
            "paginate": {
                "previous": "上一页",
                "next": "下一页"
            }
        },
        serverSide: true,
        processing: true, 
        "sAjaxSource": "{{ url_for('f_app.get_transaction') }}",
        'columnDefs': [{
             'targets': 0,
             'searchable': false,
             'orderable': false,
             'render': function (data, type, full, meta){
                 return '<input type="checkbox">';
             },
            'checkboxes': {
               'selectRow': true
            }
          },
          { "orderData": [5,6],"targets": 7 }
        ],
        'rowCallback': function(row, data, dataIndex){
             // Get row ID
             var rowId = data.id;
             // If row ID is in the list of selected row IDs
             if($.inArray(rowId, rows_selected) !== -1){
                $(row).find('input[type="checkbox"]').prop('checked', true);
                $(row).addClass('selected');
             }
        },
        'select': {
            'style': 'multi'
        },
        ordering:true,
        order:[[7,"desc"]],
        columns: [
          {data:'id',
            'render': function (data, type, full, meta){
                 return '<input type="checkbox" value="'+data+'">';
             }},
          {data:'wind_code_s' },
          {data:'fof_name',width:'200px'},
          {data:'sec_name_s'},
          {data:'operating_type'},
          {data:'accounting_date',width:'52px'},
          {data:'request_date',width:'52px'},
          {data:"confirm_date",width:'52px'},
          {data:"confirm_benchmark"},
          {data:"share"},
          {data:"amount"},
          {data:null,
            render:function(obj){
                if(obj.description){
                    return `<div class="desc" style="padding:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:120px;">${obj.description||''}</div>`;
                }else{
                    return '';
                }
            }
          },
          {data:"total_share", "cellType": "td", "className": "my_class",width:'52px'},
          {data:"total_cost", "cellType": "td", "className": "my_class",width:'52px'}
      ],
        "dom": "<'row'<'col-xs-2'l><'#mytool.col-xs-4'><'col-xs-6'f>r>" +
        "t" +
        "<'row'<'col-xs-6'i><'col-xs-6'p>>",
        "initComplete": function () {
            $("#mytool").append(`<button type="button" class="add btn btn-success btn-sm"><span aria-hidden="true" class="glyphicon glyphicon-plus">添加交易记录</span></button><button type="button" class="edit btn btn-primary btn-sm"><span aria-hidden="true" class="glyphicon glyphicon-edit">编辑</span></button><button type="button" class="btn btn-danger btn-sm del"><span aria-hidden="true" class="glyphicon glyphicon-trash">删除</span></button><a href="export_transaction" type="button" class="btn btn-success btn-sm download"><span aria-hidden="true" class="glyphicon glyphicon-download-alt">导出</span></a>`);
        }
    });

    function updateDataTableSelectAllCtrl(table){
       var $table             = table.table().node();
       var $chkbox_all        = $('tbody input[type="checkbox"]', $table);
       var $chkbox_checked    = $('tbody input[type="checkbox"]:checked', $table);
       var chkbox_select_all  = $('thead input[name="select_all"]', $table).get(0);

       // If none of the checkboxes are checked
       if($chkbox_checked.length === 0){
          chkbox_select_all.checked = false;
          if('indeterminate' in chkbox_select_all){
             chkbox_select_all.indeterminate = false;
          }

       // If all of the checkboxes are checked
       } else if ($chkbox_checked.length === $chkbox_all.length){
          chkbox_select_all.checked = true;
          if('indeterminate' in chkbox_select_all){
             chkbox_select_all.indeterminate = false;
          }

       // If some of the checkboxes are checked
       } else {
          chkbox_select_all.checked = true;
          if('indeterminate' in chkbox_select_all){
             chkbox_select_all.indeterminate = true;
          }
       }
    }


   $('#invest_tab tbody').on('click', 'input[type="checkbox"]', function(e){
      var $row = $(this).closest('tr');

      // Get row data
      var data = table.row($row).data();

      // Get row ID
      var rowId = data.id;

      // Determine whether row ID is in the list of selected row IDs
      var index = $.inArray(rowId, rows_selected);

      // If checkbox is checked and row ID is not in list of selected row IDs
      if(this.checked && index === -1){
         rows_selected.push(rowId);

      // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
      } else if (!this.checked && index !== -1){
         rows_selected.splice(index, 1);
      }

      if(this.checked){
         $row.addClass('selected');
      } else {
         $row.removeClass('selected');
      }

      // Update state of "Select all" control
      updateDataTableSelectAllCtrl(table);

      // Prevent click event from propagating to parent
      e.stopPropagation();
   });

   // Handle click on table cells with checkboxes
   $('#invest_tab').on('click', 'tbody td, thead th:first-child', function(e){
      $(this).parent().find('input[type="checkbox"]').trigger('click');
   });

   // Handle click on "Select all" control
   $('thead input[name="select_all"]', table.table().container()).on('click', function(e){
      if(this.checked){
         $('#invest_tab tbody input[type="checkbox"]:not(:checked)').trigger('click');
      } else {
         $('#invest_tab tbody input[type="checkbox"]:checked').trigger('click');
      }

      // Prevent click event from propagating to parent
      e.stopPropagation();
   });

   // Handle table draw event
   table.on('draw', function(){
      // Update state of "Select all" control
      updateDataTableSelectAllCtrl(table);
   });

//delete checked
    $(".x_panel").on('click','.btn.del',function(){
        var checked=[];
        if(rows_selected.length==0){     
            new PNotify({
                title: '请至少选择一个交易记录',
                text:  '',
                type: 'warn',
                styling: 'bootstrap3'
            });
            return;
        }
        $.each(rows_selected, function(index, rowId){
            checked.push(rowId);
        });

        $.ajax({
            url: '/f_app/del_transaction',
            type:'POST',
            contentType: 'application/json',
            dataType:'json',
            data:JSON.stringify({"result":checked}),
            success: function(resp) {
                if(resp.status==="ok"){
                    new PNotify({
                        title: '删除成功',
                        text:  '',
                        type: 'warn',
                        styling: 'bootstrap3'
                    });
                    rows_selected=[];
                    table.ajax.reload(null,false);
                }
            }
        });
   });

    $("#form").bootstrapValidator({            //表单验证
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh',
            framework: 'bootstrap'
        }, fields: {
            sec_name_s: {
                validators: {
                    notEmpty: {
                        message: '基金名称不能为空'
                    }
                }
            },
            confirm_benchmark: {
                validators: {
                    regexp: {
                        regexp: /^\d+(\.\d{1,4})?$/,
                        message: '请输入一个数值类型,小数部分最多四位'
                    }
                }
            },
            amount: {
                validators: {
                    regexp: {
                        regexp: /^\d+(\.\d{1,4})?$/,
                        message: '请输入一个数值类型,小数部分最多四位'
                    },
                    notEmpty: {
                        message: '金额不能为空'
                    }
                }
            },
            share: {
                validators: {
                    regexp: {
                        regexp: /^\d+(\.\d{1,4})?$/,
                        message: '请输入一个数值类型,小数部分最多四位'
                    },
                    notEmpty: {
                        message: '份额不能为空'
                    }
                }
            }
        }
    });

    var id,type;
    //edit 
    $(".x_panel").on('click','.edit',function(){
        var checked=[];
        var length=rows_selected.length;
        if(length!==1){ 
            var title =length==0?'至少选择一个交易记录':'只能选择一个交易记录';    
            new PNotify({
                title: title,
                text:  '',
                type: 'warn',
                styling: 'bootstrap3'
            });
            return;
        }
        $.ajax({
            url: '/f_app/change_transaction/'+rows_selected[0],
            type:'GET',
            contentType: 'application/json',
            success: function(resp) {
                if(resp){
                    $("#accounting_date").val(moment(resp.accounting_date,'ddd, DD MMM YYYY HH:mm:ss ZZ').format('YYYY-MM-DD'));
                    $("#amount").val(resp.amount);
                    $("#confirm_benchmark").val(resp.confirm_benchmark);
                    $("#confirm_date").val(moment(resp.confirm_date,'ddd, DD MMM YYYY HH:mm:ss ZZ').format('YYYY-MM-DD'));
                    $("#description").val(resp.description);
                    $("#fof_name").val(resp.fof_name);
                    $("#operating_type").val(resp.operating_type);
                    $("#request_date").val(moment(resp.request_date,'ddd, DD MMM YYYY HH:mm:ss ZZ').format('YYYY-MM-DD'));
                    $("#sec_name_s").val(resp.sec_name_s);
                    $("#share").val(resp.share);
                    $("#wind_code_s").val(resp.wind_code_s);
                    type="edit";
                    id=resp.id;
                    $("#myModalLabel").html("编辑交易记录");
                    $(".filter-option.pull-left").html(resp.sec_name_s);
                    $(".btn.dropdown-toggle").attr("disabled","disabled");
                    $("#confirm_date").removeAttr("disabled");
                    $("#myModal").modal("show");
                }
            }
        });

    })

    //add
    $(".x_panel").on('click','.add',function(){
        type="add";
        $("#myModalLabel").html("添加交易记录");
        $("#form")[0].reset();
        $(".filter-option.pull-left").html('请选择基金');
        $(".btn.dropdown-toggle").removeAttr("disabled");
        $("#confirm_date").attr("disabled","disabled");
        $("#myModal").modal("show");
    })


    function sendAjax(){     
      $.ajax({
          url: '/f_app/query_transaction',
          type:'POST',
          contentType: 'application/json',
          dataType:'json',
          data:JSON.stringify({
              confirm_date:$("#confirm_date").val(),
              fof_name:$("#fof_name").val(),
              operating_type:$("#operating_type").val(),
              sec_name_s:$("#sec_name_s").val(),
              wind_code_s:$("#wind_code_s").val()
          }),
          success: function(resp) {
            if(resp.status==="ok"){
              new PNotify({
                  title: `<div style="padding-left:20px;">当前持仓成本:${resp.data.total_cost}<br/>当前持有份额:${resp.data.total_share}</div>`,
                  text:  `当操作类型为赎回、份额强减、提取业绩报酬时，份额不能超过${resp.data.total_share}`,
                  type: 'warn',
                  styling: 'bootstrap3'
              });
            }
          }
      });
    }
    //change select
    $('.selectpicker').on('change',function (e) {
        var selectParent= $(this).find("option:selected").parents().attr("label");
        var selectItem= $(this).find("option:selected").attr("code");
        $("#wind_code_s").val(selectItem);
        $("#fof_name").val(selectParent);
        $("#confirm_date").removeAttr("disabled");
        sendAjax();
    })
    //change operation type || confirm_date ||  sec_name_s
    $('#operating_type').on('change',function (e) {
        sendAjax();
    })
    //change operation type 
    $('#confirm_date').on('change',function (e) {
        sendAjax();
    })



    //submit form
    $("#save").on("click",function(){
        var bv = $('#form').data('bootstrapValidator');
        var url = '';
        bv.validate();
        url=type=='add'?'/f_app/add_transaction':'/f_app/change_transaction/'+id;
        if(bv.isValid()){
            $.ajax({
                url: url,
                type:'POST',
                contentType: 'application/json',
                dataType:'json',
                data:JSON.stringify({
                    accounting_date:$("#accounting_date").val(),
                    amount:$("#amount").val(),
                    confirm_benchmark:$("#confirm_benchmark").val(),
                    confirm_date:$("#confirm_date").val(),
                    fof_name:$("#fof_name").val(),
                    description:$("#description").val(),
                    operating_type:$("#operating_type").val(),
                    request_date:$("#request_date").val(),
                    sec_name_s:$("#sec_name_s").val(),
                    share:$("#share").val(),
                    wind_code_s:$("#wind_code_s").val()
                }),
                success: function(resp) {
                    if(resp.status == "ok"){
                        table.ajax.reload(null,false);
                        $("#myModal").modal("hide");
                    }else{
                        var text='';
                        $(resp.error).each(function(index,val){
                            text+=`<p>${val}</p>`;
                        })
                        new PNotify({
                            title: '',
                            text:  '<div style="padding-left:20px;">'+text+'</div>',
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    }
                }
            });
        }
    })

    $("#close").on("click",function(){
        $("#form").data("bootstrapValidator").resetForm();
    })

    $('#myModal').modal({backdrop: 'static', keyboard: true,show: false});
 </script>

{% endblock %}

