{% extends "main.html" %}
{% block css %}
<!-- <link href="../../static/vendors/bootstrapvalidator-0.5.3/dist/css/bootstrapValidator.css" rel="stylesheet" /> -->
<style>
table.dataTable tbody tr.selected {
    background-color: #f5f5f5;
}
table .desc:hover{
    background: rgba(0,0,0,0.5) !important;
    color:#fff;
    position: absolute;
    white-space: pre-line!important;
    padding: 5px!important;
    border-radius: 3px;
    z-index: 9;
}
</style>
{% endblock %}
{% block manager %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>批次管理</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
       <table class="table table-bordered center-all " id="invest_tab" width="100%" >
        <thead>
          <tr>
            <th><input type="checkbox" class="checkall"></th>
            <th>批次代码</th>
            <th>FOF基金名称</th>
            <th>基金名称</th>
            <th>操作类型</th>
            <th>资金交收日期</th>
            <th>申请日期</th>
            <th>确认日期</th>
            <th>确认基准净值</th>
            <th>份额</th>
            <th>金额</th>
            <th>事项说明</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
</div>
<div>
<div id="app">
    <add-child></add-child>
</div>

<script type="text/x-template" id="v-select">
    <div style="position:relative;">
        <select class="form-control select2 select2-hidden-accessible" id="fof_child" required="" tabindex="-1" aria-hidden="true">
            <option v-text="fund.val"  name="name" ></option>
        </select>
        <span class="select2 select2-container select2-container--default  " :class="[flag.state?open:close]" dir="ltr">
            <span class="selection" style="width:100%">
                <span style="min-height: 34px;" @click="toggle" aria-owns="select2-fof_child-results" class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="true" tabindex="0" aria-labelledby="select2-fof_child-container">
                    <span class="select2-selection__rendered" id="select2-fof_child-container">
                        <span class="select2-selection__placeholder" v-text="fund.val"></span>
                    </span>
                    <span class="select2-selection__arrow" role="presentation">
                        <b role="presentation"></b>
                    </span>
                </span>
            </span>
            <span class="dropdown-wrapper" aria-hidden="true"></span>
        </span>
        <span class="select2-container select2-container--default" style="position: absolute;top:34px;" v-show="flag.state" @click.stop :class="[flag.state?open:close]">
            <span class="select2-dropdown select2-dropdown--below" dir="ltr">
                <span class="select2-search select2-search--dropdown">
                    <input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox" @keyup="getOptions(search)" v-model="search">
                </span>
                <span class="select2-results">
                    <ul class="select2-results__options" role="tree" id="select2-fof_child-results" aria-expanded="true" aria-hidden="false">
                        <li class="select2-results__option item" role="treeitem" aria-selected="false" v-for="(item,index) in searchItems" @click="selectOption(index)" :class="{'select2-results__option--highlighted':index==0}">
                            <div class="select2-result-repository clearfix">
                                <div class="select2-result-repository__meta">
                                    <div class="select2-result-repository__title" v-text="item.sec_name"></div>
                                    <div class="select2-result-repository__statistics">
                                        <div class="select2-result-repository__stargazers">
                                            <i class="fa fa-star"></i><span v-text="item.wind_code" style="display:inline!important;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li role="treeitem" aria-live="assertive" class="select2-results__option select2-results__message" v-show="state==0">searching...</li>
                        <li role="treeitem" aria-live="assertive" class="select2-results__option select2-results__message" v-show="state==1&&!warn">至少输入一个字符</li>
                        <li role="treeitem" aria-live="assertive" class="select2-results__option select2-results__message" v-show="state==2&&searchItems.length==0&&!warn">未找到结果</li>
                    </ul>
                </span>
            </span>
        </span>
    </div>
</script>
<script type="text/x-template" id="add-child">
      <div class="modal fade" id="crud">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" @click="closeModal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                        <h4 class="modal-title">添加一个新的批次</h4>
                    </div>
                    <div class="modal-body">
                        <div class="error"></div>
                        <form class="form-horizontal" id="crud-form">
                            <div class="form-group">
                                <label class="col-md-3 control-label">基金名称</label>
                                <div class="col-md-8">
                                    <v-select v-on:select="selectVal2" :warn="warn2" :url="url2" :flag="flag3" :fund="fund2"></v-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="m_code">基金代码</label>
                                <div class="col-md-8 input-append ">
                                    <input id="wind_code" name="wind_code" class="form-control input-md" v-model="code2" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="m_name">批次名称</label>
                                <div class="col-md-8 input-append ">
                                    <input id="sec_name_s" name="sec_name_s" class="form-control input-md" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="m_code1">批次代码</label>
                                <div class="col-md-8 input-append ">
                                    <input id="wind_code_s" name="wind_code_s"  class="form-control input-md" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="date_start">开始时间</label>
                                <div class="col-md-8 input-append ">
                                    <input id="date_start" name="date_start" type="date" class="form-control input-md"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="m_warn_line">预警线</label>
                                <div class="col-md-8 input-append ">
                                    <input id="warning_line" name="warning_line" type="number" class="form-control input-md" step=0.0001 min="0" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="m_wind_line">清盘线</label>
                                <div class="col-md-8 input-append ">
                                    <input id="winding_line" name="winding_line" type="number" class="form-control input-md" step=0.0001 min="0"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="day_count_4_calc_fee">管理费计算基础天数</label>
                                <div class="col-md-8 input-append ">
                                    <select class="form-control input-md" id="day_count_4_calc_fee">
                                        <option value="365">365</option>
                                        <option value="366">366</option>

                                    </select>
                                </div>
                            </div>
                            <div class="row" style="padding-left:0;">
                                <div class="form-group col-md-6" style="padding-left:0;">
                                    <label class="col-md-6 control-label" for="manage_fee_rate" style="padding-left:0;padding-right:0;">管理费率</label>
                                    <div class="col-md-6 input-append " style="padding-left:20px;">
                                        <input id="manage_fee_rate" name="manage_fee_rate" type="number" class="form-control input-md" step=0.001 min="0"/><span class="fa  form-control-feedback right" aria-hidden="true">%</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-sm-4 control-label" for="manage_fee_calc_mode">计算基准</label>
                                    <div class="col-md-6 input-append">
                                        <select class="form-control input-md col-md-9" name="manage_fee_calc_mode" id="manage_fee_calc_mode">
                                            <option value="0">份额</option>
                                            <option value="1">市值</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-left:0;">
                                <div class="form-group col-md-6" style="padding-left:0;">
                                    <label class="col-md-6 control-label" for="custodian_fee_rate" style="padding-left:0;padding-right:0;">托管费率</label>
                                    <div class="col-md-6 input-append " style="padding-left:20px;">
                                        <input id="custodian_fee_rate" name="custodian_fee_rate" type="number" class="form-control input-md" step=0.001 min="0"/><span class="fa  form-control-feedback right" aria-hidden="true">%</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-sm-4 control-label" for="custodian_fee_calc_mode">计算基准</label>
                                    <div class="col-md-6 input-append">
                                        <select class="form-control input-md col-md-9" name="custodian_fee_calc_mode" id="custodian_fee_calc_mode">
                                            <option value="0">份额</option>
                                            <option value="1">市值</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-left:0;">
                                <div class="form-group col-md-6" style="padding-left:0;">
                                    <label class="col-md-6 control-label" for="admin_fee_rate" style="padding-left:0;padding-right:0;">行政管理费率</label>
                                    <div class="col-md-6 input-append " style="padding-left:20px;">
                                        <input id="admin_fee_rate" name="admin_fee_rate" type="number" class="form-control input-md" step=0.001 min="0"/><span class="fa  form-control-feedback right" aria-hidden="true">%</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-sm-4 control-label" for="admin_fee_calc_mode">计算基准</label>
                                    <div class="col-md-6 input-append">
                                        <select class="form-control input-md col-md-9" name="admin_fee_calc_mode" id="admin_fee_calc_mode">
                                            <option value="0">份额</option>
                                            <option value="1">市值</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-left:0;">
                                <div class="form-group col-md-6" style="padding-left:0;">
                                    <label class="col-md-6 control-label" for="storage_fee_rate" style="padding-left:0;padding-right:0;">客户专项资金保管费率</label>
                                    <div class="col-md-6 input-append " style="padding-left:20px;">
                                        <input id="storage_fee_rate" name="storage_fee_rate" type="number" class="form-control input-md" step=0.001 min="0"/><span class="fa  form-control-feedback right" aria-hidden="true">%</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-sm-4 control-label" for="storage_fee_calc_mode">计算基准</label>
                                    <div class="col-md-6 input-append">
                                        <select class="form-control input-md col-md-9" name="storage_fee_calc_mode" id="storage_fee_calc_mode">
                                            <option value="0">份额</option>
                                            <option value="1">市值</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="subscribe_fee_rate">认购/申购费率</label>
                                <div class="col-md-8 input-append ">
                                    <input id="subscribe_fee_rate" name="subscribe_fee_rate" type="number" class="form-control input-md" step=0.001 min="0"/><span class="fa  form-control-feedback right" aria-hidden="true">%</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="redemption_fee_rate">赎回费率</label>
                                <div class="col-md-8 input-append ">
                                    <input id="redemption_fee_rate" name="redemption_fee_rate" type="number" class="form-control input-md" step=0.001 min="0"/><span class="fa  form-control-feedback right" aria-hidden="true">%</span>
                                </div>
                            </div>
                             <div class="form-group">
                                    <label class="col-md-3 control-label" for="invest_amount">初始确认金额</label>
                                    <div class="col-md-8 input-append ">
                                        <input id="invest_amount" name="invest_amount" type="number" class="form-control input-md" step=0.01 min="0"/><span class="fa  form-control-feedback right" aria-hidden="true">元</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="share_confirmed">初始确认份额</label>
                                    <div class="col-md-8 input-append ">
                                        <input id="share_confirmed" name="share_confirmed" type="number" class="form-control input-md" step=0.01 min="0"/><span class="fa  form-control-feedback right" aria-hidden="true">份</span>
                                    </div>
                                </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="add_new_order"  @click="sendBatch">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="closeModal">取消</button>
                    </div>
                </div>
            </div>
      </div>
</script>
{% endblock %}


{% block script %}
<!-- <script src="../../static/jquery-datatables-checkboxes-1.2.9/js/dataTables.checkboxes.min.js"></script> -->
<script>

    var table=$('#invest_tab').DataTable({
        "info":false,
        "paging": true,
        "displayLength": 20,
        "language": {
            "lengthMenu": "每页 _MENU_ 条记录",
            "zeroRecords": "没有找到记录",
            "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            "infoEmpty": "无记录",
            "search": "搜索：",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "processing":"正在处理;....",
            "paginate": {
                "previous": "上一页",
                "next": "下一页"
            }
        },
        serverSide: true,
        processing: true, 
        "sAjaxSource": "{{ url_for('f_app.get_transaction') }}",
        "columnDefs": [{"orderable":false,"targets":[0]}],
        order:[[1,"desc"]],
        columns: [
          {data:null,
              "render": function(obj) {
                  return '<input type="checkbox" id="'+obj.id+'"/>';
              }
          },
          {data:'wind_code_s' },
          {data:'fof_name',width:'200px'},
          {data:'sec_name_s'},
          {data:'operating_type'},
          {data:'accounting_date'},
          {data:'request_date'},
          {data:"confirm_date"},
          {data:"confirm_benchmark"},
          {data:"share"},
          {data:"amount"},
          {data:null,
            render:function(obj){
                if(obj.description){
                    return `<div class="desc" style="padding:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:180px;">${obj.description||''}</div>`;
                }else{
                    return '';
                }
            }
          }
      ],
        "dom": "<'row'<'col-xs-2'l><'#mytool.col-xs-4'><'col-xs-6'f>r>" +
        "t" +
        "<'row'<'col-xs-6'i><'col-xs-6'p>>",
        "initComplete": function () {
            $("#mytool").append(`<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#crud"><span aria-hidden="true" class="glyphicon glyphicon-plus">添加基金要素</span></button><button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit">编辑</span></button><button type="button" class="btn btn-danger btn-sm del"><span class="fa fa-trash">删除</span></button>`);
        }
});


        //给行绑定选中事件
        $('#invest_tab tbody').on( 'click', 'tr', function () {
            if ($(this).hasClass('selected')||$(this).find("input:checked").length) {
                $(this).removeClass('selected');
                $(this).find('input').prop('checked', false);
                $('.checkall').prop('checked', false);
            } else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $(this).find('input').prop('checked', true);
                if($('#invest_tab tbody').find("input:checked").length==15){
                    $('.checkall').prop('checked', true);
                }
            }
        });

         //all selected
        $('.checkall').on('click', function () {
            if ($(".checkall:checked").length) {
                $(this).attr('checked', true);
                $("tbody input").each(function(){
                    $(this).prop('checked', true);
                })
            } else {
                $(this).attr('checked', false);
                $("tbody input").each(function(){
                    $(this).prop('checked', false);
                })
            }
        });
         // single selected
        $('tbody').on('click','input',function () {
            if ($(this).attr('checked')) {
                $(this).attr('checked', true);
                if($('#invest_tab tbody').find("input:checked").length==15){
                    $('.checkall').prop('checked', true);
                }
            } else {
                $(this).attr('checked', false);
                $('.checkall').prop('checked', false);
            }
        });

        //del 
        $(".x_panel").on('click','.btn.del',function(){
            var checked=[];
            $("tbody input:checked").each(function(){
                checked.push($(this).attr("id"));
            })

            $.ajax({
                url: '/f_app/del_transaction',
                type:'POST',
                traditional:true,
                data: {
                    data: JSON.stringify(checked)
                },
                success: function(resp) {
                    if(resp.status==="ok"){
                        table.ajax.reload();
                    }
                }
            });
        })

 </script>

{% endblock %}

